@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary-blue: rgb(10,62,88);
    --first-blue: rgb(0,86,141);
    --second-blue: rgb(8,123,196);
    --third-blue: rgb(53,176,237);
    --fourth-blue: rgb(54,152,220);
    --primary-green: rgb(184,203,34);
    --second-green: rgb(219,238,69);
    --white: #fff;
}